@use "../globales/variables";
@use "../globales/mixins";

.tablero{
    display: grid;
    width: clamp(5rem, 90vw ,40rem); /* clamp(20rem, 90vw ,40rem) */
    height: clamp(5rem, 77vh ,40rem); /* 90 */
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1rem;
    background-color: variables.$TableroClr;
    border: .5rem solid black;
    border-radius: variables.$BrdrRadius;

    box-shadow: -1rem 1.5rem 1rem rgba(0, 0, 0, 0.555);


    &__piezas{
      border-radius: variables.$BrdrRadius;
      user-select: none;
    
      @include mixins.gridCentrado;
      font-size: clamp(1rem, 7vw ,3rem); // 3rem
      font-family: variables.$NumerosFuente;
      font-style: italic;
      color: variables.$NumClr;
      border-width: .2rem 0 0 .2rem;
      border-style: solid;
      border-color: variables.$TableroClr;
      box-shadow: inset -.3rem .3rem .1rem rgba(255, 255, 255, 0.295);
    }

    
    &__movible{
      cursor: grab;
    }
    
    &__agarrando{
      opacity: .3;
      cursor: grabbing;
    }

    &__piezaVacia{
      background-color: variables.$VaciaBG;
      border: none;
      box-shadow: none;
    }
    
  }  
  
  @for $i from 1 through 16{
    .tablero__pieza#{$i}{
      background-color:hsl(0, 75%, $i *  3);
    }
  }
  
//hsl(260, 75%, $i *  3)
  
  
