@use "vars";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: vars.$BodyBG;
  color: vars.$BodyTxtClr;
  background: url(vars.$ImageBg) no-repeat center/cover;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
