$LetrasBody:  rgb(51, 13, 13);
$BodyBG:  rgb(58, 58, 58);
$VaciaBG: hsla(0, 0%, 100%, 0);
//USAR
$SmallBrkPointMQ: 0;
//SACAR👇


$ImageBg: "https://img.freepik.com/fotos-premium/espacio-trabajo-vacio-boligrafo-cafe-papel-nota-copyspace-escritorio-trabajo_39688-201.jpg?w=740";

//BORRAR LA IMG DESCARGADA

$NumClr: rgb(255, 255, 255);
$victoryBG:  rgb(171, 200, 212);
$puzzleClr: rgb(36, 9, 9);

//ES EL DE LA PIEZA!!
$BrdrRadius: .5rem;

// @mixin gridCentrado{
//     display: grid;
//     place-content: center;
// }