$BodyTxtClr:  rgb(51, 13, 13);
$BodyBG:  rgb(58, 58, 58);
$emptyPieceBG: hsla(0, 0%, 100%, 0);
$SmallBrkPointMQ: 480px;

$ImageBg: "https://img.freepik.com/fotos-premium/espacio-trabajo-vacio-boligrafo-cafe-papel-nota-copyspace-escritorio-trabajo_39688-201.jpg?w=740";

$NumClr: rgb(255, 255, 255);
$victoryBG:  rgb(171, 200, 212);
$puzzleClr: rgb(36, 9, 9);

