@use "../../sass/vars";

.resetBtn {
  margin: 0.5rem;
  padding: 1rem;
  font-size: vars.$TxtFontSize;
  cursor: pointer;
  display: flex;
  align-items: center;

  background-color: rgb(255, 231, 199);
  color: vars.$puzzleClr;
  border-radius: 2rem;
  border: 0.15rem solid;
  box-shadow:
    inset 0 0.1rem white,
    inset 0 -0.2rem 0.2rem 0.1rem rgb(168, 115, 94);
}

.resetSVG {
  width: 1.2rem;
  margin-right: 0.5rem;
}
