@use "../../sass/vars";

.header {
  font-size: clamp(1rem, 7vw, 2.5rem);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  height: 4rem;
  position: fixed;
  max-width: 100rem;
}
