@use "variables";
@use "mixins";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: variables.$BodyBG;
    color: variables.$LetrasBody;

    background: url(variables.$ImageBg) no-repeat center/cover;

    height: 100vh;
  }
  
  main{
    display: flex;
    justify-content: center;
  }
  