@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Sedan:ital@0;1&display=swap');

$NumerosFuente: "Sedan", serif;
$LetrasBody:  rgb(51, 13, 13);
$BodyBG:  rgb(58, 58, 58);
$VaciaBG: hsla(0, 0%, 100%, 0);

$ImageBg: "https://img.freepik.com/fotos-premium/espacio-trabajo-vacio-boligrafo-cafe-papel-nota-copyspace-escritorio-trabajo_39688-201.jpg?w=740";

$NumClr: rgb(255, 255, 255);
$VictoriaBG:  rgb(151, 180, 192);
$TableroClr: rgb(36, 9, 9);

$BrdrRadius: .5rem;