@use "../globales/mixins";

.reinicarBtn {
  @include mixins.gridCentrado;
  padding: 1rem;
  width: clamp(4rem, 25vw, 9rem); //5rem
  height: clamp(1.5rem, 10vw, 5rem); //2.5rem
  margin: 0 1rem;
  cursor: pointer;
  font-size: clamp(0.5rem, 2.5vw, 1.2rem); //.5rem
}

.header {
  font-size: clamp(1rem, 7vw, 2.5rem);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}
