.reinicarBtn{
    padding: 1rem;
    width: 10rem;
    margin: 0 1rem;
    cursor: pointer;
    font-size: 50%;
  }
  
  header{
    position: fixed;
    font-size: 2rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  
.reinicarBtn{ padding: 1rem; width: 10rem; margin: 0 1rem; cursor: pointer; font-size: 50%; } header{ position: fixed; font-size: 2rem; margin: 1rem; display: flex; justify-content: space-between; width: 100%; }
